/**
 * Three level headline style of written contents
 * (font size in em needed for zoom on ReviewContentScreen)
 */

.headlines-three h1 {
    font-size: 1.3em!important;
}
.headlines-three h2 {
    font-size: 1.15em!important;
}
.headlines-three h3 {
    font-size: 1.0em!important;
}
